<div>
    <div id= "header"> 
        <img src=""/>
    </div>

    <div>
        <form id="createPost" method="post" name="create-accountForm">
            <label class="username" for="usernameText">username:</label>
            <input type="text" id="username" placeholder="username" name="username">
            <br>
            <label class="password" for="passwordText">password:</label>
            <input type="text" id="password" placeholder="password" name="password">
            <br>
            <label class="firstname" for="firstnameText">firstname:</label>
            <input type="text" id="firstname" placeholder="firstname" name="firstname">
            <br>
            <label class="lastname" for="lastnameText">lastname:</label>
            <input type="text" id="lastname" placeholder="lastname" name="lastname">
            <br>
            <label class="email" for="emailText">email:</label>
            <input type="text" id="email" placeholder="email" name="email">
            <br>
            <label class="major" for="majorText">major:</label>
            <input type="text" id="major" placeholder="major" name="major">
            <br>
            <label class="year" for="yearText"year:></label>
            <input type="text" id="year" placeholder="year" name="year">
            <button type="button" class="btn" name="btn">Create</button>
        </form>
    </div>

    <div>
        <footer>
            <P>College Issue Reporting System™ || For all of News In our College || Stevens Institute of Technology || Hoboken, New Jersey</p>
        </footer>
    </div>
</div>