<div>
    <div id="header"><img src=""/>
        <div id="nav">
            <ul class= "menu">
                <li class="pageItem">
                    <a href="index">Home</a>>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
            </ul>
        </div>
    </div>

     <div id="post">
        <form id="createPost" method="post" name="postForm">
            <button type="button" class="btrn" id="btn">Create a Post</button>
            <label for="title" id="title">Title:</label>
            <input type="text" id="title" placeholder="Title" name="title">
            <br>
            <textarea name="description" id="description" placeholder="description"></textarea>
            <input type="checkbox" name="tag" value="tag1">tag1
            <input type="checkbox" name="tag" value="tag2">tag2
            <input type="checkbox" name="tag" value="tag3">tag3
        </form>
    </div>

    <div>
        <footer>
            <P>College Issue Reporting System™ || For all of News In our College || Stevens Institute of Technology || Hoboken, New Jersey</p>
        </footer>
    </div>
</div>