<div class="editPost-div">
            <div class="editPost-form">
                <form id="editPost" method="post" name="postForm">
                    <h2>Edit Post</h2>
                    <label for="title" id="title">Title:</label>
                    <input type="text" id="title" placeholder="Title" name="title">
                    <br>
                    <label for="description" id="description">Description:</label>
                    <textarea name="description" id="description" placeholder="description"></textarea>
                    <br>
                    <label for="tag" id="tag">Tag:</label>
                    <textarea name="tag" id="tag" placeholder="tag"></textarea>
                    <br>
                    <button type="submit" class="btrn" id="btn">Save</button>
                </form>
            </div>
</div>