
<div class="header-nav">
      <ul class= "menu">
        <li>
          <p class="header">College  Issue  Reporting  System</p>
        </li>
      </ul>
    </div>
    
<div class ="signup_div">
  <h1>Edit Profile</h1>
  <form id="edit-form" action="/editProfile" method="POST" >
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter Password" class="signup_input" />
    <div id="error_password" class="form-group hidden"></div>

    <label for="firstname" class="firstname">firstname:</label>
    <input type="text" id="firstname" placeholder="firstname" name="firstname" class="signup_input"  />
    <div id="error_firstname" class="form-group hidden"></div>
    <label for="lastname" class="lastname">lastname:</label>
    <input type="text" id="lastname" placeholder="lastname" name="lastname" class="signup_input"  />
    <div id="error_lastname" class="form-group hidden"></div>

    <label for="email" class="email" >email:</label>
    <input type="text" id="email" placeholder="email" name="email" class="signup_input"  />
    <div id="error_email" class="form-group hidden"></div>
    
    <label class="major" >major:</label>
                    <select name="major" id="major">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Business">Business</option>
                        <option value="Engineering">Engineering</option>
                        <option value="System-and-Analytics">System and Analytics</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                        <option value="Material Science">Material Science</option>
                    </select> 
    <label for="year" class="year">year:</label>
    <input type="text" id="year" placeholder="year" name="year" class="signup_input"  /> 
    <div id="error_year" class="form-group hidden"></div> 
    <div class="alert alert-danger hidden" id="form-alert"></div>              
    <button type="submit" class="signup_button" id='submit'>Edit</button>
    <a href="http://localhost:3000/myprofile">Back to my profile</a>
    <script src="/public/js/editProfile.js"></script>
    {{#if hasErrors}}
    <p class="error">{{error}}</p>
    {{/if}}
  </form>
</div> 