<div class="myprofile">


    <div class="header-nav">
      <ul class= "menu">
        <li>
          <a href="/myprofile" class="header">Welcome, {{username}}</a>
        </li>
        <li class="search">
            <form id="searchForm" class="searchForm" method="get">
                <label for="search">Search Post:</label>
                <input type="text" id= "search">
                <button type="submit">search</button>
            </form>
        </li>

        <li class="logout-li">
            <a  href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="nav">
     <div class="navList">
       <p></p>
        <p>
            <a href="/dashboard" style="color: black;text-decoration: none;font-size: 20px;">Dashboard</a>
        </p>
        <p>
            <a href="/myprofile" style="color: black;text-decoration: none; font-size: 20px;">My Profile</a>
        </p>
      </div>
    </div>

         <div class="editPost">
        <h2>Edit Your Post</h2>
        <div class="editpostForm">  
          {{!-- {{#if myPosts.length}}
          {{#each myPosts}} --}}
          {{!-- <label class="taglable">{{this._id}}</label> --}}
          {{!-- {{/each}}
          {{/if}} --}}
        <form id="editpostForm" action="/editpost/{{newUrl}}" method="POST">
        {{!-- {{/each}}
        {{/if}} --}}
        <input type="text" id="title" name="title" placeholder="Title" class ="edit-post-input" ><br>
        <span hidden id="errorEditPost"></span>

        <textarea type="text" id="body" name="body" placeholder="Description" class="edit-post-body"></textarea><br>
        <span hidden id="error_editbody"></span>

        <textarea type="text" id="tags" name="tags" placeholder="Tags" class ="edit-post-tag" ></textarea><br>

         <label class="editPost_priority" for="editPost_priority">Priority:</label>
                    <select name="editPost_priority" id="editPost_priority">
                        <option value="yes">Urgent</option>
                        <option value="no">Normal</option>
                        </select><br>
                        <br>

        <button type="submit" class="Editpost-button" id="Editpost-button">post</button>
        </form>
          </div>
    {{#if error}}
      <div id="errorEditPost" class="error">
          <h3>{{error_message}}</h3>
      </div>
    {{/if}}
        
        </div>
