<div>
    <div id= "header"> <img src=""/> <!-- this img will be a stevens photo -->
        <div id="nav">
            <ul class= "menu">
                <li class="pageItem">
                    <a href="index">Home</a>>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
                <li>
                    <a href="login">Log Out</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div id="post">
            <form id="editProfile" method="post" name="profileForm">
                <label for="name" id="name">name:</label>
                <br>
                <input type="text" id="name" placeholder="name" name="name">
                <br>
                <label for="name" id="name"></label>
                <input type="text" name="tag" value="tag1">
                <label for="name" id="name">n</label>
                <input type="text" name="tag" value="tag2">
                <input type="text" name="tag" value="tag3">
                <button type="button" class="btrn" id="btn">Save</button>
            </form>
        </div>
    </div>

    <div>
        <footer>
            <P>College Issue Reporting System™ || For all of News In our College || Stevens Institute of Technology || Hoboken, New Jersey</p>
        </footer>
    </div>
</div>