<div>
            <div class="editProfile-div">
                <div class="editProfile-form">
                    <form id="editProfile" method="post" name="profileForm">
                        <h2>Edit Profile</h2>
                        <label for="email" id="email">email:</label>
                        <input type="text" id="email" placeholder="email" name="email" >
                        <br>
                        <label for="major" id="department">department:</label>
                        <select>
                            <option value="computerScience">Computer Science</option>
                            <option value="business">Business</option>
                            <option value="Engineering">Engineering</option>
                            <option value="System-and-Analytics">System and Analytics</option>
                            <option value="MechanicalEngineering">Mechanical Engineering</option>
                            <option value="Chemical Engineering">Chemical Engineering</option>
                            <option value="Materials Science">Materials Science</option>
                        </select>
                        <br>
                        <label for="year" id="year">year:</label>
                        <input type="text" id="year" placeholder="year" name="year">
                        <br>
                        <label for="bio" id="bio">bio:</label>
                        <textarea class="bio" name="bio" id="bio"></textarea>
                        <button type="submit" class="saveProfilebtn" id="saveProfilebtn">Save</button>
                    </form>
                </div>
            </div>
        </div>