 <div>
        <div id= "header"> 
            
            <h1 class="title">College Issue Reporting System</h1>
            <div id="nav">
                <ul class= "menu">
                    <li class="home">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="myPosts.html">My Posts</a>
                    </li>
                    <li>
                        <a href="myprofile.html">My Profile</a>
                    </li>
                    <li style="float:right">
                        <a href="login.html">Log Out</a>
                    </li>
                </ul>
                <div>
                    <form class="searchForm" method="get">
                        <label for="search">Search Post:</label> 
                        <input type="text" id=search>
                        <button type="button">search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="postList" style="height: 700px;width:1900px;overflow:auto;background:#EEEEEE;">
            <div id="post1">
                <label>Title</label><br>
                <textarea name="body" id="body" placeholder="a post body" rows="10" cols="45"></textarea><br>
                <label>comment</label><br>
                <textarea name="description" id="description" placeholder="commemt1" rows="5" cols="45"></textarea><br>
                <textarea name="description" id="description" placeholder="commemt2" rows="5" cols="45"></textarea>
            </div>
    
            <div id="post2">
                <label>Title</label><br>
                <textarea name="body" id="body" placeholder="a post body" rows="10" cols="45"></textarea><br>
                <label>comment</label><br>
                <textarea name="description" id="description" placeholder="commemt1" rows="5" cols="45"></textarea><br>
                <textarea name="description" id="description" placeholder="commemt1" rows="5" cols="45"></textarea>
            </div>
        </div>
        <!--
        <div id="profile">
            <img src=""/>
            <label class="username" for="usernameText">name:</label>XXX<br>
            <label class="department" for="departmentText">department:</label>XXX<br>
            <label class="CWID" for="CWIDText">CWID:</label>XXX
        </div>
        -->
        <div>
            <footer class="footer">
                <P>College Issue Reporting System™ || For all of News In our College || Stevens Institute of Technology || Hoboken, New Jersey</p>
            </footer>
        </div>
    </div>
