{{!--html validation passing --}}
<div class="header-nav">
      <ul class= "menu">
        <li>
          <p class="header">College  Issue  Reporting  System</p>
        </li>
      </ul>
</div>

<div class="login_div">
  <h1>Login Page</h1>
  <form id="login-form" action="/login" class="login_form" method="POST">
    <label for="username" class="login_label">Username</label>
    <input type="text" name="username" id="username" placeholder="Enter Username" class="login_input" />
    <div id="error_username" class="form-group hidden"></div>
    <label for="password" class="login_label">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter Password" class="login_input" />
    <div id="error_password" class="form-group hidden"></div>
    <button type="submit" class="login_button" id = 'submit'>Login</button>
    <a href="http://localhost:3000/signup">Need to register? Click here to sign-up</a>
    <div id="error_check"></div>
    <script src="/public/js/login.js"></script>
    {{#if hasErrors}}
    <p class="error" id='error'>{{error}}</p>
    {{/if}}
  </form>
    <script src="/public/js/login.js"></script>
</div>