<div class="page-container">
    <div id="login-form" class="col text-center">
        </div>
      <h1>College Issue Reporting System</h1>
      <div>
        <form method="post" id="login" action = "/login">

        <label for="username">Username:</label>
        <input type="text" id="usernameField" name="username" placeholder="username" required>
        </br>
        <label for="password">Password:</label>
        <input type="password" id="passwordField" name="password" placeholder="password" required>
      </div>

      <button class="btn btn-primary" id="loginButton" type="submit">Log In</button>
        <p><a href="/createAccount">Create Account</a></p>
    </div>
    </form>
</div>
{{> footer}}