<div class="header-nav">
      <ul class= "menu">
        <li>
          <p class="header">College  Issue  Reporting  System</p>
        </li>
      </ul>
    </div>

<div class="logout">  
  <h1>Logout</h1>
  <a href="/">Back to Login Page</a>
</div>  