<div>
    <div id= "header"> <img src=""/> <!-- this img will be a stevens photo -->
        <div id="nav">
            <ul class= "menu">
                <li class="pageItem">
                    <a href="index">Home</a>>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">My Profile</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div id="profile">
        <label class="photo" for="photo">photo:</label><br>
        <img src=""/><br>
        <label class="username" for="usernameText">username:</label>XXX<br>
        <label class="firstname" for="firstnameText">firstname:</label>XXX<br>
        <label class="lastname" for="lastnameText">lastname:</label>XXX<br>
        <label class="email" for="emialText">email:</label>XXX<br>
        <label class="major" for="majorText">major:</label>XXXXXX<br>
        <label class="year" for="yearText">year:</label>XXXXXX<br>
        <label class="Bio" for="BioText">Bio:</label>XXXXXX<br>
        <button type="button" id="btn" name="btn">Edit Profile</button>
    </div>

    <div>
        <footer>
            <P>College Issue Reporting System™ || For all of News In our College || Stevens Institute of Technology || Hoboken, New Jersey</p>
        </footer>
    </div>
    
</div>