.login_button,
.signup_button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  margin: 40px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

.login_div,
.signup_div {
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  margin-top: 50px;
}

.login_input,
.signup_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_button:hover,
.signup_button:hover {
  opacity: 0.7;
}

.error {
  color: red;
}

.logout {
  color: black;
}
.createPost {
  float: left;
  margin-top: 20px;
  margin-left: 80px;
  background-color: white;
  box-shadow: 2px 2px 2px #8f8d8d;
}

.create-post-input {
  width: 300px;
  height: 20px;
  padding: 3px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.create-post-body {
  width: 300px;
  height: 50px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.create-post-tag {
  width: 300px;
  height: 15px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.private {
  float: left;
  margin-top: 20px;
  background-color: rgb(228, 228, 228);
  margin-left: 80px;
  width: 400px;
  height: auto;
}
.card {
  height: auto;
  width: 450px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px #8f8d8d;
}

.innercard {
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  
}
.commentsCard {
  width: 200px;
  height: auto;
}

.header-nav {
  height: 100px;
  /* width: 200px; */
}

.nav {
  float: left;
  background-color: white;
  margin-left: 80px;
  margin-top: 20px;
  height: 100px;
  width: 350px;
  box-shadow: 2px 2px 2px #8f8d8d;
}

h2 {
  text-align: center;
}

.logout-link {
  text-align: center;
}
.createpostForm {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.header {
  margin-left: 20px;
  font-size: 28px;
  font-style: italic;
  color: white;
  text-decoration: none;
}
.resolve{
  color: black;
  background-color: rgb(228, 228, 228);
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(43, 42, 42);
}

.header {
  float: left;
}
.search {
  float: right;
}

.logout-li {
  float: right;
  border-right: 1px solid rgb(255, 255, 255);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(92, 91, 91);
}

li form {
  display: block;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

li form:hover {
  background-color: rgb(92, 91, 91);
}

.navList {
  text-align: center;
  margin-top: 30px;
}

.taglable{
  border: solid rgb(180, 0, 0);
  color: white;
  background-color: rgb(180, 0, 0);

}
.poststitle-div{
  background-color: rgb(192, 192, 192);
  font-size: 21px;
  font-style:normal;
  font-weight: bold;
  
}
.postsdate-div{
  font-size: 17px;
  font-style: normal;
  background-color: rgb(228, 228, 228);
}

.comments{
  font-size: 14px;
}
.reply{
  font-size: 14px;
}

.myprofile-card{
  height: 350px;
  width: 350px;
  float: left;
  margin-top: 20px;
  margin-left: 200px;
  background-color: white;
  box-shadow: 2px 2px 2px #8f8d8d;
}

.myprofile-innercard{
  font-size: 18px;
  margin-left: 90px;
  margin-top: 30px;
}
.myprofile-title{
  font-size: 22px;
  text-align: center;
}

.operatePost{
  margin-top: 20px;
}