.login_button,
.signup_button {
  background-color: black;
  color: white;
  padding: 10px 10px;
  margin: 40px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
.search-button {
  color: rgb(10, 7, 7);
  border: none;
  cursor: pointer;
  height: 23px;
  border-radius: 10px;
}

.body {
  background-color: #f5f4f4;
}

.login_div,
.signup_div {
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  margin-top: 50px;
}

.login_input,
.signup_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_button:hover,
.signup_button:hover {
  opacity: 0.7;
}

.error {
  color: red;
}
.tags,
.searchedtags {
  position: relative;
  top: -5px;
}
.logout {
  color: black;
}
.taglable {
  font-size: small;
  border: solid rgb(139, 84, 84);
  color: white;
  background-color: rgb(165, 95, 95);
  position: relative;
  top: -5px;
}

.searchedtaglable {
  margin-left: 5px;
  font-size: small;
  border: solid rgb(139, 84, 84);
  color: white;
  background-color: rgb(165, 95, 95);
  position: relative;
  top: -5px;
}

.comments {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.deleteComment {
  position: relative;
  top: -13px;
  font-size: 10px;
  size: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.deleteComment:hover {
  opacity: 1;
  background-color: rgb(238, 127, 127);
}

.resolveComment:hover {
  opacity: 1;
  background-color: aquamarine;
}

.resolveComment {
  position: relative;
  top: -33px;
  right: -50px;
  font-size: 10px;
  size: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.commentresolve,
.searchedcommentresolve {
  color: rgb(8, 8, 8);
  background-color: rgb(149, 189, 109);
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.commentNotresolve {
  font-size: 12px;
  font-weight: bolder;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  top: -10px;
}
.reply {
  font-size: 14px;
  border: 1px solid #ccc;
}
.createPost {
  float: right;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px #cfcbcb;
}
.post-title {
  font-size: 40px;
  font-weight: normal;
}

.editPost {
  float: center;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
  background-color: white;
  box-shadow: 2px 2px 2px #cfcbcb;
}

.card {
  height: auto;
  width: 450px;
  margin-top: 20px;
  /* margin-left: 50px; */
  margin-right: 30px;
  box-shadow: 2px 2px 2px #cfcbcb;
  background-color: white;
}

.innercard {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.create-post-input {
  width: 300px;
  height: 20px;
  padding: 3px 3px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.edit-post-input {
  width: 300px;
  height: 20px;
  padding: 3px 3px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.search-input {
  width: 250px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(245, 205, 205);
}

.create-post-body {
  width: 300px;
  height: 50px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.edit-post-body {
  width: 300px;
  height: 50px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}
.createComment {
  border-radius: 10px;
}

.create-post-tag {
  width: 300px;
  height: 15px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.edit-post-tag {
  width: 300px;
  height: 15px;
  padding: 5px 5px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.commentbtn,
.editProfilebtn {
  margin-bottom: 10px;
  background-color: rgb(209, 169, 169);
  border-radius: 10px;
}

.commentbtn:hover,
.editProfilebtn:hover {
  opacity: 0.9;
}

.private {
  float: left;
  margin-top: 20px;
  margin-left: 80px;
  width: 300px;
  height: auto;
  display: block;
}

.allposts {
  font-weight: normal;
}

.commentsCard {
  width: 435px;
  height: auto;
  background-color: rgb(245, 245, 245);
  position: relative;
  top: -3px;
  left: -2px;
}

.commentsCard-mp {
  width: 435px;
  height: auto;
  background-color: rgb(245, 245, 245);
  position: relative;
  top: -45px;
  margin-top: 10px;
}

.header-nav {
  height: 75px;
  color: black;
  /* width: 200px; */
}

.nav {
  float: left;
  background-color: white;
  margin-left: 80px;
  margin-top: 20px;
  height: 100px;
  width: 150px;
  box-shadow: 2px 2px 2px #cfcbcb;
}

h2 {
  text-align: center;
}

.logout-link {
  font-weight: bold;
  text-align: center;
}

.createpostForm {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.editpostForm {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-upload {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -15px;
}

.myprofile {
  font-size: small;
  text-align: left;
}

.myprofile1 {
  font-size: small;
  margin-right: auto;
}

.header {
  margin-left: 20px;
  font-size: 28px;
  font-style: georgia;
  color: white;
  text-decoration: none;
}
.resolve {
  color: black;
  background-color: rgb(228, 228, 228);
  text-decoration: none;
}
ul {
  /* position:fixed; */
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 1px 5px;
  overflow: hidden;
  background-color: rgb(136, 59, 59);
}

.header {
  float: left;
}

.search {
  float: left;
  top: 15px;
  right: -150px;
}

.title {
  float: left;
  top: 15px;
  right: 40px;
}

.logout-li {
  margin-top: 10px;
  float: right;
}

.username {
  color: white;
  float: left;
  margin-left: 30px;
  margin-top: 15px;

  right: -150px;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 25px;
  text-decoration: none;
}

li form {
  display: block;
  color: rgb(255, 254, 254);
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

.navList {
  text-align: center;
  margin-top: 30px;
}

.taglable {
  color: rgb(245, 237, 237);
  background-color: rgb(128, 42, 42);
}
.poststitle-div,
.searchedPoststitle-div {
  background-color: rgb(248, 247, 247);
  font-size: 21px;
  font-style: normal;
  font-weight: bold;
}

.post-body,
.searchedPost-body {
  background-color: rgb(253, 253, 253);
  font-family: Arial, Helvetica, sans-serif;
}

.postsdate-div,
.searchedPostsdate-div {
  position: relative;
  top: -30px;
  font-size: 13px;
  font-style: normal;
  background-color: rgb(255, 248, 248);
}
.commentsDate,
.searchedcommentsDate {
  font-size: 13px;
  font-style: normal;
  background-color: rgb(255, 248, 248);
}

.searchedcomments {
  font-size: 14px;
}

.comments {
  font-size: 12px;
  background-color: rgb(186, 224, 224);
  font-weight: 700;
}

.reply {
  font-size: 14px;
}

.myprofile-card {
  height: 450px;
  width: 350px;
  float: right;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px #cfcbcb;
}

.profile-button {
  color: rgb(10, 7, 7);
  background-color: rgb(248, 209, 209);
  border: none;
  cursor: pointer;
  height: 23px;
  border-radius: 10px;
}

.profile-button:hover {
  opacity: 1px;
  background-color: aquamarine;
}

.edit-button {
  color: rgb(10, 7, 7);
  background-color: rgb(248, 209, 209);
  border: none;
  cursor: pointer;
  height: 23px;
  border-radius: 10px;
}

.edit-button:hover {
  opacity: 1;
  background-color: aquamarine;
}

.delete-button {
  color: rgb(10, 7, 7);
  background-color: rgb(248, 209, 209);
  border: none;
  cursor: pointer;
  height: 23px;
  border-radius: 10px;
}

.delete-button:hover {
  opacity: 1;
  background-color: aquamarine;
}

.edit-form {
  width: fit-content;
  margin-left: 400px;
  position: relative;
  top: -47px;
}

.delete-form {
  width: fit-content;
  position: relative;
  margin-left: 320px;
  top: -70px;
}

.profile-input {
  color: rgb(10, 7, 7);
  border: none;
  cursor: pointer;
  height: 23px;
  border-radius: 10px;
}

.myprofile-innercard {
  font-size: 18px;
  margin-left: 90px;
  margin-top: 30px;
  width: 250px;
  height: 250px;
}
.myprofile-title {
  font-size: 22px;
  text-align: center;
  position: relative;
  right: 35px;
}

.post-image {
  position: relative;
  margin-bottom: 20px;
  margin-left: -2px;
}

.operatePost {
  margin-top: 20px;
}
.search-result {
  margin-top: 20px;
  margin-left: 25%;
  background-color: white;
  width: 450px;
  height: auto;
  box-shadow: 2px 2px 2px #cfcbcb;
}

.errorInput {
  margin-top: 15px;
  float: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.noResult {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}
